* {
    box-sizing: border-box;
}

html,
body {
    font-size: 18px;
    color: rgb(83, 83, 83);
    font-family: 'Lato', sans-serif;
}

body {
    margin-top: 40px;
}

section {
    padding: 100px 0;
    box-shadow: 2px 2px 3px #efefef;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}


.row {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
    margin: 0 auto;
}


.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.block-box {
    width: 80%;
    margin: 0 auto 20px;
    padding: 10px 0 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border-radius: 3px;
    background-color: #f0f8ff;
}

code {
    font: 16px Lucida Console;
    background-color: #fff;
}

p {
    font-style: italic;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    text-align: center;
    word-spacing: 4px;
}

h2 {
    margin-top: 70px;

}

.commands {
    padding: 10px 0 10px 30px;
    max-width: 1000px;
}