* {
    box-sizing: border-box;
}

html,
body {
    font-size: 18px;
    color: rgb(83, 83, 83);
    font-family: 'Lato', sans-serif;
}

body {
    margin-top: 40px;
    position: relative;
}